{{#each cart}}
  <div class="well well-sm line-item" data-id={{productid}}>
    <div class="row">
      <div class="col-xs-3">
        <img src={{image}} class="img-responsive img-cart"/>
      </div>
      <div class="col-xs-6">
        <h4>{{name}}</h4>
      </div>
      <div class="col-xs-3">
        <h4>${{price}}</h4>
      </div>
    </div>
    <hr style="margin-top: 5px; margin-bottom: 5px;">
    <div class="row">
      <div class="col-md-8">
          <h4 class=:"text-right">Quantity: <span class="label label-primary qty-display">{{quantity}}</span>
            <input class="new-qty" type="text" value={{quantity}} pattern="[0-9]{1,2}" style="width: 30px">
            <button type="button" class="btn btn-default change-qty" data-id={{productid}}>
              <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Change
            </button>
            <button type="button" class="btn btn-default delete-item" data-id={{productid}}>
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
            </button>
          </h4>
      </div>
      <div class="col-md-4">
        <h5 class="text-right">Item subtotal: $<span class="item-total" data-price={{price}} data-qty={{quantity}}></span></h5>
      </div>
    </div>
  </div>
{{/each}}
