<div class="row">
  <div class="col-md-7">
    <div class="img-main">
      <img src={{product.image}} class="img-responsive text-center" data-id={{product.id}} name={{product.name}}/>
    </div>
  </div>
  <div class="col-md-5">
    <div class="well well-sm">
      <h3>{{product.name}}</h3>
      <h4>${{product.price}}</h4>
      <h5>Quantity:</h5>
      <select name="quantity" class="quantity" id="quantity-select">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
      </select>
      <hr>
      <h4>Description</h4>
      <p>{{product.description}}</p>
      
    </div>
  </div>
</div>
